<a routerLink='/admin/products/new' class="btn btn-primary">Add new product</a>

<!-- <input [(ngModel)]='searchTerm' class="form-control my-3" placeholder="Filter"> -->

<div class="mat-elevation-z8 mt-3">
    <table mat-table [dataSource]="dataSource">

        <!-- Position Column -->
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Title </th>
            <td mat-cell *matCellDef="let element"> {{element.payload.val().title}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let element"> {{element.payload.val().price}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="forEdit">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element">
                <a [routerLink]='["/admin/products/",element.key]'>Edit</a>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>


<!-- <table class="table my-3">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of allProducts | search:searchTerm">
            <td>{{p.payload.val().title}}</td>
            <td>{{p.payload.val().price}}</td>
            <td>
                <a [routerLink]='["/admin/products/",p.key]'>Edit</a>
            </td>
        </tr>
    </tbody>
</table> -->