<h1>Shopping Cart</h1>

<button *ngIf='carts && carts.length' class="btn btn-outline-dark" (click)='clearAll()'>Clear shopping cart</button>

<table class="table my-3">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity (kg)</th>
            <th scope="col">Total Price</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cart of carts">
            <td>{{cart.payload.val().title}}</td>
            <td>{{cart.payload.val().price | currency:'USD'}}</td>
            <td class="position-relative">
                <input class="form-control w-50 position-absolute myInput" placeholder="quantity (kg)" [value]='cart.payload.val().quantity' #quantity>
            </td>
            <td>{{cart.payload.val().quantity * cart.payload.val().price | currency:'USD'}}</td>
            <td>
                <button class="btn btn-primary myBtn mr-1" (click)='save(cart.key, quantity.value)'>Save</button>
                <button class="btn btn-danger myBtn" (click)='delete(cart.key)'>Delete</button>
            </td>
        </tr>
        <tr *ngIf='carts && carts.length'>
            <td class="font">Total cost</td>
            <td></td>
            <td></td>
            <td class="font">{{totalCost | currency:'USD'}}</td>
        </tr>
    </tbody>
</table>

<a *ngIf='carts && carts.length' class="btn btn-primary" routerLink='/shop/check-out'>Check out</a>
